<div class="container">
    <div class="hide">
        <button class="btn btn-add"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>

        <a href="#" class="text-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>

        <!--<a href="#" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
        <a href="#" class="text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

        <a href="#" class="text-danger"><i class="fa fa-times" aria-hidden="true"></i></a>

        <a href="#" class="text-info"><i class="fa fa fa-external-link" aria-hidden="true"></i></a>

        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item">s</a>
                <div class="adm-sidebar-ctrl">
                    <a href="#" class="text-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="#" class="text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="adm-blackbox-ctrl">
            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="#" class="text-info"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="#" class="text-warning"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </div>

        <br /><br />

        <div class="adm-defaultbox-ctrl">
            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="#" class="text-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="#" class="text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </div>
    </div><!--hide-->
</div>