<div class="container">
    <div class="hide">
        <button class="btn btn-add"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
    </div>

    <a href="#" class="text-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <!--<a href="#" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
    <a href="#" class="text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    <a href="#" class="text-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
    <a href="#" class="text-info"><i class="fa fa fa-external-link" aria-hidden="true"></i></a>
</div>