<!DOCTYPE html>

<html>
<head>
     <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title></title>
    @*<link href="~/lib/fontAwesome/css/font-awesome.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="~/css/Style.min.css" />*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/app/Stylet.css" rel="stylesheet" />
    <link href="~/node_modules/ng2-toastr/bundles/ng2-toastr.min.css" rel="stylesheet" />
    <script src="~/node_modules/core-js/client/shim.min.js"></script>
    <script src="~/node_modules/zone.js/dist/zone.js"></script>
    <script src="~/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="~/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/app/systemjs.config.js"></script>
    <script>            System.import('app').catch(function (err) { console.error(err); });        </script>
   
</head>
<body>
    @*<div style="display:inline-block;height:50px;">
        <a class="menu-item" href="./loadingindicator">loading indicator</a>
        <a class="menu-item" href="./tryagain">try again</a>
        <a class="menu-item" href="./style">style</a>
        <a class="menu-item" href="./toast">Toast</a>
        <a class="menu-item" href="./modal">modal</a>
        <a class="menu-item" href="./form">form</a>
    </div>*@
    <div style="display:inline-block;height:50px;">
        <a class="menu-item" href="./loadingindicator">loading indicator</a>
        
        <a class="menu-item" href="./button">ButtonDemo</a>
        <a class="menu-item" href="./card">CardDemo</a>
        <a class="menu-item" href="./radio">RadioDemo</a>
        <a class="menu-item" href="./sidenav">SidenavDemo</a>
        <a class="menu-item" href="./slide-toggle">SlideToggleDemo</a>
        <a class="menu-item" href="./slider">SliderDemo</a>
        <a class="menu-item" href="./progress-circle">ProgressCircleDemo</a>
        <a class="menu-item" href="./progress-bar">ProgressBarDemo</a>
        <a class="menu-item" href="./portal">PortalDemo</a>
        <a class="menu-item" href="./overlay">OverlayDemo</a>
        <a class="menu-item" href="./checkbox">CheckboxDemo</a>
        <a class="menu-item" href="./input">InputDemo</a>
        <a class="menu-item" href="./toolbar">ToolbarDemo</a>
        <a class="menu-item" href="./icon">IconDemo</a>
        <a class="menu-item" href="./list">ListDemo</a>
        <a class="menu-item" href="./menu">MenuDemo</a>
        <a class="menu-item" href="./live-announcer">LiveAnnouncerDemo</a>
        <a class="menu-item" href="./gestures">GesturesDemo</a>
        <a class="menu-item" href="./grid-list">GridListDemo</a>
        <a class="menu-item" href="./tabs">TabsDemo</a>
        <a class="menu-item" href="./button-toggle">ButtonToggleDemo</a>
        <a class="menu-item" href="./baseline">BaselineDemo</a>
        <a class="menu-item" href="./ripple">RippleDemo</a>
        <a class="menu-item" href="./dialog">DialogDemo</a>
        <a class="menu-item" href="./tooltip">TooltipDemo</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
