<!DOCTYPE html>

<html>
<head>
     <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title></title>
    @*<link href="~/lib/fontAwesome/css/font-awesome.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="~/css/Style.min.css" />*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/app/Stylet.css" rel="stylesheet" />
    <link href="~/node_modules/ng2-toastr/bundles/ng2-toastr.min.css" rel="stylesheet" />
    <script src="~/node_modules/core-js/client/shim.min.js"></script>
    <script src="~/node_modules/zone.js/dist/zone.js"></script>
    <script src="~/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="~/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/app/systemjs.config.js"></script>
    <script>            System.import('app').catch(function (err) { console.error(err); });        </script>
   
</head>
<body>
    <div style="display:inline-block;height:50px;">
        <a class="menu-item" href="./loadingindicator">loading indicator</a>
        <a class="menu-item" href="./tryagain">try again</a>
        <a class="menu-item" href="./style">style</a>
        <a class="menu-item" href="./toast">Toast</a>
        <a class="menu-item" href="./modal">modal</a>
        <a class="menu-item" href="./form">form</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
