
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<my-app>
    k
    <div class="loader_container hidden"><span class="dot dot1"></span><span class="dot dot2"></span><span class="dot dot3"></span><span class="dot dot4"></span><span class="dot dot5"></span></div>
    <router-outlet></router-outlet>
</my-app>